<div class="users_index">
  <h2>Users</h2>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-lg-4">
      <%= image_tag (user.picture) %>
        <div class="user-info">
          <%= user.name %><br/>
          <%= link_to "Total Posts: #{user.total_posts}", user_posts_path(user), class:"button_1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
