<div class="users_index col-sm-8 col-lg-offset-2">
  <h2 class="page-header">Users</h2>
    <% @users.each do |user| %>
      <div class="col-xs-6">
        <div class="user-container">
          <%= link_to user_posts_path(user), class:"button_1" do %>
              <%= image_tag (user.picture) %>
              <div class="users-index-info">
                <%= user.name %><br/>
                Posts (<%= user.total_posts %>)
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
