<h1 class="page-header">Hashtags</h1>
<div class="index-hashtag">
    <% @hashtags.each do |hashtag| %>
      <div class="col-sm-3 post-hashtags">
        <%= link_to  search_path(hashtags: "##{hashtag.name}"), class: "button_1" do %>
          #<%= hashtag.name %> (<%= hashtag.posts.size %>)
        <% end %>
      </div>
    <% end %>
</div>
