<div class="jumbotron">
  <h1 class="display-4">Welcome to my blog!<%= image_tag 'https://blogging-app.s3.amazonaws.com/public/light-bulb-487859_640.png' %></h1>
  <p >Sign in, write and post@@@</p>
  <hr class="my-4">
  <p>Share your thoughts with the real world. Write about a brilliant idea or whatever!</p>
  <div class="photo">
  </div>
</div>
