<%- model_class = Post -%>


<div class="post-show">
  <div class="col-lg-12">
    <%= image_tag @post.picture %>
    <h1><%= @post.title %></h1>
  </div>

  <div class="col-lg-12 content">
    <p>
      <%= @post.body %>
    </p>
  </div>
</div>


<%= link_to "Back to posts", posts_path, class: "btn btn-default" %>
