/*-----------------------------------------------------*/
/* NaV */
/*-----------------------------------------------------*/

body {margin: 0 !important; }

.navbar-static-top {padding: 15px;}

.navbar-nav {float:right;}

.fa-facebook-square {color:blue;}

.nav-user-logged_in img {position: relative; bottom: 2px;}


/*-----------------------------------------------------*/
/* Buttons */
/*-----------------------------------------------------*/
.nav-user-logged_in a:hover,
.nav-user-logged_in a:active,
.button_1:hover,
.button_1:active {
    background:none;
    color: #666;
}


/*-----------------------------------------------------*/
/* Users */
/*-----------------------------------------------------*/

.users_index h2 {text-align: center; margin-bottom: 50px;}

.users_index img {float: left; border-radius: 50%;}

.user-info {
  position: relative;
  top: 25px;
  display: inline-block;
  margin-left: 15px;
  font-size: 130%;
}

.user-info a {margin-top: 10px; display: block;}
