/*-----------------------------------------------------*/
/* NaV */
/*-----------------------------------------------------*/

.navbar-static-top {padding: 15px;}

.navbar-nav {float:right;}

.fa-facebook-square {color:blue;}

.nav-user-logged_in img {position: relative; bottom: 2px;}
